@font-face {
    font-family: Montserrat;
    src: url(Fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: WorkSans;
    src: url(Fonts/WorkSans-VariableFont_wght.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

body {
    background-color: white;
    margin: calc(100vh + 6rem) 4vw 30vh 4vw;
    font-family: WorkSans, Tahoma, sans-serif;
    text-wrap: balance;
    text-wrap-style: pretty;
}

main a {
    color: #0025C8;
    font-weight: 500;
    text-decoration: none;
}

main a:hover {
    text-decoration: underline;
}

h2 {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    padding-bottom: 0.5rem;
    font-size: 2.30rem;
}

h3 {
    margin-top: 2.5rem;
    font-size: 0.9rem;
    font-weight: 600;
    max-width: fit-content;
}

h3:first-child {
    margin-top: 0;
}

p {
    font-family: WorkSans, "WorkSans", sans-serif;
    line-height: 1.8rem;
    margin: 0.75rem 0;
    font-size: 0.95rem;
    max-width: 50rem;
}

img {
    display: block;
    object-fit: cover;
    max-inline-size: 100%;
    width: 60vh;
    height: 60vh;
}

main {
    max-width: max(80rem, 75vw);
    width: 100%;
    align-self: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-self: center;
    view-transition-name: page-content;

    > div {
        margin: 8rem 0;

        > div {
            width: 100%;
            padding: 0;
            margin: 1.5rem 0;
            display: flex;
            gap: 2rem;
            justify-content: center;

            img {
                width: 100%;
            }

            > div {
                flex: 110;
                flex-wrap: wrap;

            }
        }
    }

    .projectcards div {
        color: black;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(32vw, 1fr));
        gap: 0.5rem;
        overflow: hidden;

        div {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                z-index: -1;
                transition: 200ms ease-in-out;
            }

            .appear {
                opacity: 0;
                position: absolute;
                inset: 0;
                display: flex;
                flex-direction: row;
                padding: 0.75rem 1rem;
                margin: 0;
                align-self: end;
                transition: 200ms ease-in-out;
                height: fit-content;

                h3 {
                    transform: translate(0, 0.125rem);
                }

                img {
                    margin-left: auto;
                    width: 1.5rem;
                    height: 1.5rem;
                    rotate: 180deg;
                    filter: invert(1);
                    z-index: -1;
                    z-index: 2;
                }
            }
        }
        
        div:hover {

            img {
                transform: scale(1.02);
            }

            .appear {
                opacity: 1;
            }
        }
    }
}  

.projectcards .hoverbox {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #1B120E;
    background: linear-gradient(180deg, rgba(27, 18, 14, 1) 35%, rgb(55, 27, 13) 100%);
    position: relative;
    width: 220px;
    height: 300px;
    perspective: 1000px;
    width: 100%;
    height: 100%;
    overflow: visible;
    transition: zoom 200ms ease-in-out;
    overflow: hidden;


    .cube {
        display: block;
        width: 242px;
        height: 330px;
        transform-style: preserve-3d;
        overflow: visible;
        max-inline-size: none;
        zoom: calc(max(33vw, min(45vw, calc(39.75rem - 3vw))) / 420px);

        .side{
            position: absolute;
            width: inherit;
            height: inherit;
            display: block;
            box-sizing: border-box;
            backface-visibility: hidden;
            background-size: cover;
            background-color: #924018;
        }
    }
    
    #front {
        transform: translateZ(60.5px);
        background-image: url(Images/Copperpot/Mobile_Front.webp);
        background-color: #CC954E;
    }

    #right {
        width: 121px;
        transform: rotateY(90deg) translateZ(181px);
        background-image: url(Images/Copperpot/Mobile_Right.webp);
    }
    
    #back {
        transform: rotateY(-180deg) translateZ(60.5px);
    }
    
    #left {
        width: 121px;
        transform: rotateY(-90deg) translateZ(60.5px);
        background-image: url(Images/Copperpot/Mobile_Left.webp);
    }

    #top {
        height: 121px;
        transform: rotateX(90deg) translateZ(60.5px);
        background-image: url(Images/Copperpot/Mobile_Top.webp);
    }

    #bottom {
        height: 121px;
        transform: rotateX(-90deg) translateZ(269.5px);
        background-image: url(Images/Copperpot/Mobile_Bottom.webp)
    }

}

.hoverbox:hover {
    zoom: 1.02;
}

.button, button {
    font-family: WorkSans, "WorkSans", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    height: 3.125rem;
    width: fit-content;
    max-inline-size: 100%;
    border-radius: 0.313rem;
    box-shadow: inset 0 0 2rem rgba(0, 0, 0, 0.35);
    border: 1.5px rgba(180, 180, 180, 0.125) solid;
    background-color: rgba(0, 0, 0, 0.646);
    backdrop-filter: blur(0.625rem);
    padding: 0 1.25rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    align-content: center;
    color: rgba(255, 255, 255, 0.91);
    
    

    img {
        height: 1.5rem;
        width: 1.5rem;
    }

    .down {
        margin-left: auto;
        padding-left: 0.25rem;
        height: 1rem;
        width: 1rem;
    }

    .right {
        margin-left: auto;
    }
}

li {
    line-height: 0;
    .button, button {
        height: 2.188rem;
        width: 100%
    }
}

#readmore {
    width: 100%;
    height: 3rem;
    display: flex;
    appearance: none;
}

label {
    padding: 0.313rem;
    border-radius: 0.625rem;
    box-shadow: inset 0 0 2rem rgba(0, 0, 0, 0.35);
    border: 1.5px rgba(180, 180, 180, 0.125) solid;
    background-color: rgba(0, 0, 0, 0.646);
    backdrop-filter: blur(0.625rem);
    width: 105%;
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    transform: translate(-2.5%, -6.75rem);
    z-index: 999;

    .button, button {
        width: 100%;
        box-shadow: unset;
        border: unset;
        background-color: unset;
        backdrop-filter: unset;
        text-align: center;

        p {
            width: fit-content;
            margin: auto;
        }
    }
}

label:hover .button {
    background-color: rgb(232, 232, 232);
    color: black;
    text-decoration: none;
    box-shadow: none;
    img {
        filter: invert(100%);
    }
}


.read {
    margin-bottom: 0;
    >div {
        max-height: 65vh;
        overflow: hidden;
        background: linear-gradient(180deg,rgba(0, 0, 0, 1) 70%, rgba(255, 255, 255, 1) 100%);
        background-clip: text;
        color: transparent;
        gap: 0.5rem;

        p:nth-last-child(2) {
            padding-bottom: 1rem;
        }
        >img {
            border-radius: 0;
            padding-top: 1rem;
            height: 80vh;
            object-position: top;

        }
        img:first-child {
            padding: 0;
        }

        >div {
            gap: 0.5rem;
        }

        div div:has(button), div div:has(.button) {
            padding: 0.313rem;
            border-radius: 0.625rem;
            box-shadow: inset 0 0 2rem rgba(0, 0, 0, 0.35);
            border: 1.5px rgba(180, 180, 180, 0.125) solid;
            background: rgba(0, 0, 0, 0.646);
            backdrop-filter: blur(0.625rem);
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            width: fit-content;
            color: black;


            .button, button {
                color: white;
                box-shadow: unset;
                border: unset;
                background-color: unset;
                backdrop-filter: unset;
                text-align: center;
            }
        }   

        div div .button:hover, div div button:hover {
            background: rgb(232, 232, 232) !important;
            color: black;
            text-decoration: none;
            box-shadow: none;
            img {
                filter: invert(100%);
            }
        }
        div {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        p:nth-child(5) a {
            color: transparent;
        }
    }
}

input[type="checkbox"]:checked ~ label {
    display: none;
}

.read:has(~ input[type="checkbox"]:checked) {
    p, h3 {
        color: black;
    }
    a {
    color: #0025C8;
    }
    div {
        max-height: none;
        
    }
    .readingmore {
        display: block;
    }
    .showOnTablet {
        display: none;
    }
}

.wrapper {
    width: 100%;
    max-width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    padding: 2vw 3vw;
    color: white;
    z-index: 9999;

    div {
        padding: 0.313rem;
        border-radius: 0.625rem;
        box-shadow: inset 0 0 2rem rgba(0, 0, 0, 0.35);
        border: 1.5px rgba(180, 180, 180, 0.125) solid;
        background-color: rgba(0, 0, 0, 0.646);
        backdrop-filter: blur(0.625rem);
        width: 100%;
        max-width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: flex-end; 

        .button, button {
            box-shadow: unset;
            border: unset;
            background-color: unset;
            backdrop-filter: unset;
        }

        .button:hover, button:hover {
            background-color: rgb(232, 232, 232);
            color: black;
            text-decoration: none;
            box-shadow: none;
            img {
                filter: invert(100%);
            }
        }

        :first-child {
            margin-right: auto;
            color: white;
            min-width: max-content;
            font-family: WorkSans, "WorkSans", sans-serif;
            font-weight: 500;
            font-size: 1.15rem;
            img:first-child {
                margin-right: 0.5rem;
                height: 2rem;
            }
        }
    }

    h1 {
        font-family: Montserrat, sans-serif;
        font-weight: 600;
        font-size: 1rem;
        font-weight: 500;
    }

    .nav {
        anchor-name: nav;
    }
    .downloads {
        anchor-name: downloads;
    }
    .contacts {
        anchor-name: contacts;  
    }
    .contactsmobile {
        anchor-name: contactsmobile;  
    }
    .exports {
        anchor-name: exports;  
    }
}

.menu:popover-open {
    width: fit-content;
    height: fit-content;
    padding: 0.313rem;
    border-radius: 0.625rem;
    box-shadow: inset 0 0 2rem rgba(0, 0, 0, 0.35);
    border: 1.5px rgba(180, 180, 180, 0.125) solid;
    background-color: rgba(0, 0, 0, 0.646);
    backdrop-filter: blur(0.625rem);
    overflow: hidden;
    scale: 1 1;
    opacity: 1;
    transition: scale 100ms ease, opacity 200ms ease;
    transform-origin: top;

    @starting-style {
        scale: 1 0;
        opacity: 0;
    }

    .button, button {
        overflow: hidden;
        width: 100%;
        max-inline-size: 100%;
        max-width: 100%;
        border-radius: 0.313rem;
        box-shadow: unset;
        border: unset;
        background-color: unset;
        backdrop-filter: unset;
        padding: 1.3rem 1.25rem;
        cursor: pointer;
        color: rgb(211, 211, 211);
        gap: 0.35rem;

    }
    .button:hover, button:hover {
        background-color: rgb(232, 232, 232);
        color: black;
        text-decoration: none;

        img {
            filter: invert(100%);
        }
    }
}

#nav {
    position: fixed;
    position-anchor: nav;
    position-area: bottom span-right;
    min-width: max-content;
    margin: initial;
    transform: translate(-0.4rem, 0.625rem);
}

#downloads {
    position: fixed;
    position-anchor: downloads;
    position-area: bottom span-right;
    min-width: max-content;
    margin: initial;
    transform: translate(-1.875rem, 0.625rem);
}

#contacts {
    position: fixed;
    position-anchor: contacts; 
    position-area: bottom span-left;
    min-width: max-content;
    transform: translate(0.4rem, 0.625rem);
}

#contactsmobile {
    position: fixed;
    position-anchor: contactsmobile; 
    top: anchor(top);
    left: anchor(right);
    min-width: max-content;
    margin: initial;
    transform: translate(0.625rem, 0);
}

#exports {
    position: fixed;
    position-anchor: exports; 
    top: anchor(top);
    left: anchor(right);
    min-width: max-content;
    margin: initial;
    transform: translate(0.625rem, 0);
}

.banner {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    z-index: -1;
    width: 100vw;
    height: 101vh;
    background: 
        url(Images/nois.gif),
        url(Images/splashpage.webp);
    background-repeat: repeat, no-repeat;
    background-color: #131315;
    background-size: 600px, cover;
    background-position: center right;
    background-blend-mode:overlay, normal;
    max-width: 100%;
    display: flex;
    align-items: end;
    padding: auto;

    > div {
        padding: 4vw;
        max-width: max(46.875rem, 50vw);
        width: 100vw;
        height: fit-content;
        color: white;
        flex-direction: column;
        gap: 0;
        div {
            margin-top: 1rem;
            flex-direction: row !important;
        }
        
        h2 {
            font-size: clamp(3rem, 10vw, 5rem);
            text-shadow: 0 0 2rem black;
        }

        p {
            font-weight: 600;
            font-size: 1.25rem;
            line-height: 2.15rem;
            text-shadow: 0 0 3px black, 0 0 3rem black;
        }

        a {
            font-weight: 600;
            color: #A5D8FF;
        }

        .button {
            box-shadow: inset 0 0 2rem rgba(0, 0, 0, 0.35);
            border: 1.5px rgba(180, 180, 180, 0.125) solid;
            background-color: rgba(0, 0, 0, 0.646);
            backdrop-filter: blur(0.625rem);
            color: white;
        }

        .button:hover, button:hover {
            background-color: rgb(232, 232, 232);
            color: black;
            text-decoration: none;
            box-shadow: none;
            img {
                filter: invert(100%);
            }
        }

        .hideOnMobile img, .showOnMobile img {
            width: 30px;
            height: 30px;
        }

        div {
            display: flex;
            gap: 0.5rem;
        }
    }
}

.copy:hover img {
    content: url(Icons/copy.svg);
}

.copy:active img {
    content: url(Icons/copied.svg);
}

.download:hover img {
    content: url(Icons/download.svg);
}

.download:active img {
    content: url(Icons/downloaded.svg);
}

.external:hover img {
    content: url(Icons/external.svg);
}

.project {
    background-color: #131315;
    background-image: url(Images/noise.gif);
    background-repeat: repeat;
    background-size: 600px;
    background-position: center;
    background-blend-mode: color-dodge;
    margin-top: 3rem;
    overflow-x: hidden;

    main {
        max-width: none;
    }

    main > div {
        margin: auto;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        img {
            object-fit: cover;
            width: 100%;
            height: fit-content;
            max-width: 200vh;
        }
    }
}

html:has(#box), body:has(#box) {
    overflow: hidden;
    height: 100%;
    margin: 0;
}

#box {
    
    #dragger, #cube, .face {
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
    }

    div {
        position: absolute;
    }

    .face {
        background-color: #CC954E;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    .front {
        background-image: url(Images/Copperpot/Front.webp);
        width: 55dvh;
    }
    
    .right {
        background-image: url(Images/Copperpot/Right.webp);
        width: 27.5dvh;
    }
    
    .back {
        background-image: url(Images/Copperpot/Back.webp);
        width: 55dvh;
    }
    
    .left {
        background-image: url(Images/Copperpot/Left.webp);
        width: 27.5dvh;
    }
    
    .container {
        width: 55dvh;
        height: 75dvh;
        perspective: 1500px;
        left:50%;
        top:50%;
        transform:translate(-50%,-50%);
    }
}

.project:has(#book) {
    margin: calc(4vw + 3rem) 2vw 0 2vw;

    main {
        max-width: none;

        #next-btn, #prev-btn {
            position: absolute;
            position-anchor: --book;
            position-area: left center;
            translate: 150%;
            padding: 0;
            margin: 0;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            max-inline-size: none;
            z-index: 999;
            box-shadow: 0 0.0 0.625rem 0 rgba(0, 0, 0, 0.5);
            transition: 0.075s;

            
            img {
                width: 40px;
                height: 40px;
                max-width: none;
            }
        }

        #next-btn {
            position-area: right center;
            translate: -150%;
            rotate: 180deg;
        }
        
        #next-btn:hover, #prev-btn:hover {
            transform: scale(1.2);
        }
        
        #next-btn:active, #prev-btn:active {
            transform: scale(1.1);
        }

        #book {
            aspect-ratio: 2.828 / 1;
            anchor-name: --book;
            margin-top: 25vh;
            align-items: flex-end;
            
        
            .paper {
                margin: 0;
                padding: 0;
                gap: 0;
                width: 48vw;
                aspect-ratio: 1.414 / 1;
                position: absolute;


                    img {
                    position: absolute;
                    transform-origin: left;
                    aspect-ratio: 1.414 / 1;
                    transition: transform 0.5s;
                    border-radius: 0;
                    }
                    img:last-child {
                        z-index: -1;
                    }
                }
            
                #g00 {
                    z-index: 18;
                }
                #g01 {
                    z-index: 17;
                }
                #g02 {
                    z-index: 16;
                }
                #g03 {
                    z-index: 15;
                }
                #g04 {
                    z-index: 14;
                }
                #g05 {
                    z-index: 13;
                }
                #g06 {
                    z-index: 12;
                }
                #g07 {
                    z-index: 11;
                }
                #g08 {
                    z-index: 10;
                }
                #g09 {
                    z-index: 9;
                }
                #g10 {
                    z-index: 8;
                }
                #g11 {
                    z-index: 7;
                }
                #g12 {
                    z-index: 6;
                }
                #g13 {
                    z-index: 5;
                }
                #g14 {
                    z-index: 4;
                }
                #g15 {
                    z-index: 3;
                }
                #g16 {
                    z-index: 2;
                }
                #g17 {
                    z-index: 1;
                }
        }

        .flipped>:first-child, .flipped>:last-child {
            transform: rotateY(-180deg);
        }

        img:first-child {
            backface-visibility: hidden;
        }
    }
}

.showOnMobile, .showOnTablet, .readingmore {
    display: none; 
}

@media (max-width: 888px) {
    
    .hideOnTablet {
        display: none !important;
    }

    .showOnTablet {
        display: inline;
    }

    .projectcards>div {
        grid-template-columns: repeat(auto-fit, minmax(275px, 1fr)) !important;
        
        a>div {
            padding-bottom: 3rem;
        }
        .appear {
            min-height: 3rem;
            opacity: 1 !important;
        }
    }

    #contactsmobile {
        position-area: bottom span-left;
        transform: translate(0.313rem, 0.625rem);
        position: fixed;
        top: anchor(bottom);
        right: anchor(right);
        margin: initial;
    }
    
    img.right {
        content: url(Icons/down.svg);
        height: 1rem;
        width: 1rem;
    }

    .copy img {
        content: url(Icons/copy.svg);
    }

    .download img {
        content: url(Icons/download.svg);
    }

    .external img {
        content: url(Icons/external.svg);
    }

    .read:has(~ input[type="checkbox"]:checked) .showOnTablet {
        display: block !important;
    }

    .read>div>img {
        aspect-ratio: 1 / 1;
    }

    body {
        img {
            width: 50vh;
            height: 50vh;
        }
        
        div div {
            flex-direction: column-reverse;
        }
        #box div {
            flex-direction: initial;
        }
        #box .container {
            zoom: 0.85;
        }
    }
}

@media (max-width: 605px) {
    .hideOnMobile {
        display: none;
    }

    .showOnMobile {
        display: inline;
    }

    .hoverbox {
        zoom: 1;
        padding: 3rem 0 6rem 0 !important;
        .cube {
            zoom: calc(96vw / 400px) !important;
        }
    }

    .project {
        overflow-y: hidden;
        height: 100dvh;
        flex: none;
        margin: calc(4vw + 1rem) 0 4vw 0;

        main {
            height: 100%;
            width: 100%;
            margin: 0 0 5rem 0;

            div {
                height: 100%;
                width: 100%;
                flex-direction: row;
                overflow-x: scroll;
                position: relative;
                aspect-ratio: unset;
                transform: unset;
                translate: unset;

                >div {
                    overflow-x: visible;
                }

                img {
                    width: 100vh;
                    height: min-content;
                    max-height: 80%;
                    position: relative;
                    aspect-ratio: unset;
                }

                :first-child {
                    margin-left: 4vw;
                }

                :last-child {
                    margin-right: 4vw;
                }
            }
        } 
    }

    #box {
        .front {
            background-image: url(Images/Copperpot/Mobile_Front.webp);
        }
        
        .right {
            background-image: url(Images/Copperpot/Mobile_Right.webp);
        }
        
        .back {
            background-image: url(Images/Copperpot/Mobile_Back.webp);
        }
        
        .left {
            background-image: url(Images/Copperpot/Mobile_Left.webp);
        }        

        div {
            margin: 0;
            overflow-x: visible;
        }
    }


    #book img {
            margin-top: 5vh;
            width: 96vw;
            translate: 22.5%;
    }

}
