/*Caleb Lyons - 2/27*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: calc(100vh + 8rem) 4vw 15vh 4vw;
    min-height: 100vh;
    font-family: sans-serif;
}

a {
    font-weight: 500;
    color: rgb(53, 53, 53);
}

h1 {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 1rem;

}
h2 {
    font-family: sans-serif;
    padding-bottom: 1.5rem;
    font-size: 2rem;
    width: min-content;
}
p {
    font-family: sans-serif;
    line-height: 1.65rem;
    margin-bottom: 1.5rem;
}

img {
    object-fit: cover;
    border-radius: 0.5rem;
    padding: 0.313rem;
    max-inline-size: 100%;
    width: 100%;
    height: 50vh;;
}

main > div {
    max-width: 46.875rem;
    margin: auto;
    width: 100%;
    margin-bottom: 8rem;
    > div {
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 2rem;
        > div {
            flex: 110;
        }
    }
}

.button, button {
    font-size: 1rem;
    font-weight: normal;
    text-decoration: none;
    color: black;
    height: 3.125rem;
    width: fit-content;
    max-inline-size: 100%;
    border-radius: 0.313rem;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    padding: 0 1.563rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: rgb(211, 211, 211);
    img {
        height: 2rem;
        width: 2rem;
    }
    .down {
        height: 1.5rem;
        width: 1.5rem;
    }
}

li {
    line-height: 0;
    .button, button {
        height: 2.188rem;
        width: 100%
    }
}

.button:hover, button:hover {
    background-color: rgba(255, 255, 255, 0.137);
    color: white;
}

.button:hover, button:hover {
    background-color: rgba(255, 255, 255, 0.137);
    color: white;
}

.container {
    width: 100%;
    max-width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    padding: 2vw 4vw;
    color: white;
    div {
        padding: 0.313rem;
        border-radius: 0.625rem;
        box-shadow: 0 0.313rem 0.625rem rgba(0, 0, 0, 0.127);
        background-color: rgba(0, 0, 0, 0.616);
        backdrop-filter: blur(0.625rem);
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end; 
        :first-child {
            margin-right: auto;
            color: white;
            min-width: max-content;
        }
        span {
            padding: 0;
            margin: 0;
            a {
                padding-right: 0.313rem;
                border-radius: 0.313rem 0 0 0.313rem;
            }
            button {
                padding-right: 0.938rem;
                padding-left: 0.188rem;
                border-radius: 0 0.313rem 0.313rem 0;
            }
            a:hover, button:hover {
                background-color: rgba(255, 255, 255, 0.1);
                color: white;
            }
        }
        > span:hover {
            background-color: rgba(255, 255, 255, 0.1);
            color: white
        }
    }
    .nav {
        anchor-name: nav;
    }
    .downloads {
        anchor-name: downloads;
    }
    .contacts {
        anchor-name: contacts;  
    }
    .exports {
        anchor-name: exports;  
    }
}

.menu {
    width: fit-content;
    height: fit-content;
    padding: 0.313rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.313rem 0.625rem rgba(0, 0, 0, 0.127);
    background-color:  rgba(0, 0, 0, 0.616);
    backdrop-filter: blur(0.625rem);
    border-width: 0;
    overflow: hidden;
    .button, button {
        width: 100%;
        max-inline-size: 100%;
        max-width: 100%;
        border-radius: 0.313rem;
        border: none;
        background-color: rgba(255, 255, 255, 0);
        padding: 0.313rem 0.625rem;
        cursor: pointer;
        color: rgb(211, 211, 211);
    }
    .button:hover, button:hover {
            background-color: rgba(255, 255, 255, 0.137);
            color: white;
        }
    
    }

#nav {
    position: fixed;
    position-anchor: nav;
    position-area: bottom span-right;
    min-width: max-content;
    margin: initial;
    transform: translate(-2.188rem, 0.625rem);
}

#downloads {
    position: fixed;
    position-anchor: downloads;
    position-area: bottom span-right;
    min-width: max-content;
    margin: initial;
    transform: translate(-1.875rem, 0.625rem);
}
#contacts {
    position: fixed;
    position-anchor: contacts; 
    position-area: bottom span-right;
    min-width: max-content;
    transform: translate(-0.625rem, 0.625rem);
}

#exports {
    position: fixed;
    position-anchor: exports; 
    top: anchor(top);
    left: anchor(right);
    min-width: max-content;
    margin: initial;
    transform: translate(0.625rem, 0);
}

.banner {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0;
    padding: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}


.copy:hover img {
    content: url(Icons/copy.svg);
}

.copy:active img {
    content: url(Icons/copied.svg);
}

.download:hover img {
    content: url(Icons/download.svg);
}

.download:active img {
    content: url(Icons/downloaded.svg);
}

.external:hover img {
    content: url(Icons/external.svg);
}

@media (max-width: 800px) {
    .hideOnTablet {display: none;
    }
    #exports {
        position-area: bottom span-right;
        transform: translate(0, 0.625rem);
        position: fixed;
        top: anchor(bottom);
        left: anchor(left);
        margin: initial;
    }
    
}

@media (max-width: 650px) {
    main > div > div {
        flex-wrap: wrap-reverse;
        > div {
            min-width: 50vw;
        }
    }
    .copy img {
    content: url(Icons/copy.svg);
    }
    .download img {
        content: url(Icons/download.svg);
    }
    .external img {
        content: url(Icons/external.svg);
    }
}

@media (max-width: 450px) {
    .hideOnMobile {
        display: none;
    }
}