/*Caleb Lyons - 3/12*/
@font-face {
    font-family: Montserrat;
    src: url(Fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: Verdana;
    src: url(Fonts/Verdana.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.showOnMobile, .showOnTablet {
    display: none;
}

body {
    margin: calc(100vh + 8rem) 4vw 15vh 4vw;
    min-height: 100vh;
    font-family: Verdana, Tahoma, sans-serif;
}

a {
    color: rgb(200, 215, 223);
}

.nounderline {
    text-decoration: none;
}

h2 {
    font-family: Montserrat, sans-serif;
    font-weight: "600";
    padding-bottom: 1.5rem;
    font-size: 2.30rem;
}

h3 {
    margin-right: auto;
    margin-bottom: 3rem;
}

p {
    font-family: Verdana, "Verdana", Tahoma, sans-serif;
    line-height: calc(1.15rem * 1.85);
    margin-bottom: 1.5rem;
    font-size: 1.15rem;
}

img {
    object-fit: cover;
    border-radius: 0.5rem;
    padding: 0.313rem;
    max-inline-size: 100%;
    width: 100%;
    height: 60vh;
}

main {
    > div {
        margin-bottom: 8rem;
        > div {
            width: 100%;
            padding: 0;
            margin: 0;
            display: flex;
            gap: 2rem;
            flex-wrap: wrap;
            justify-content: center;
            > div {
                max-width: max(46.875rem, 50%);
                width: 100%;
                flex: 110;
            }
        }
    }
    :last-child > div > div > div > div {
        min-width: 20rem
    }
}

.button, button {
    font-family: Verdana, "Verdana", Tahoma, sans-serif;
    font-size: 1rem;
    text-decoration: none;
    height: 3.125rem;
    width: fit-content;
    max-inline-size: 100%;
    border-radius: 0.313rem;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    padding: 0 1.563rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: rgb(211, 211, 211);
    img {
        height: 2rem;
        width: 2rem;
    }
    .down {
        margin-left: auto;
        height: 1.5rem;
        width: 1.5rem;
    }
    .right {
        margin-left: auto;
    }
}


li {
    line-height: 0;
    .button, button {
        height: 2.188rem;
        width: 100%
    }
}

.button:hover, button:hover {
    background-color: rgba(255, 255, 255, 0.137);
    color: white;
}

.button:hover, button:hover {
    background-color: rgba(255, 255, 255, 0.137);
    color: white;
}

.container {
    width: 100%;
    max-width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    padding: 2vw 3vw;
    color: white;
    div {
        padding: 0.313rem;
        border-radius: 0.625rem;
        box-shadow: 0 0.313rem 0.625rem rgba(0, 0, 0, 0.127);
        background-color: rgba(4, 0, 34, 0.646);
        backdrop-filter: blur(0.625rem);
        width: 100%;
        max-width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: flex-end; 
        :first-child {
            margin-right: auto;
            color: white;
            min-width: max-content;
            font-family: Montserrat, sans-serif;
            font-weight: 500;
            font-size: 1.1rem;
        }
        span {
            padding: 0;
            margin: 0;
            a {
                padding-right: 0.313rem;
                border-radius: 0.313rem 0 0 0.313rem;
            }
            button {
                padding-right: 0.938rem;
                padding-left: 0.188rem;
                border-radius: 0 0.313rem 0.313rem 0;
            }
            a:hover, button:hover {
                background-color: rgba(255, 255, 255, 0.1);
                color: white;
            }
        }
        > span:hover {
            background-color: rgba(255, 255, 255, 0.1);
            color: white
        }
    }

    h1 {
        font-family: Montserrat, sans-serif;
        font-weight: 600;
        font-size: 1rem;
        font-weight: 500;
    }

    .nav {
        anchor-name: nav;
    }
    .downloads {
        anchor-name: downloads;
    }
    .contacts {
        anchor-name: contacts;  
    }
    .contactsmobile {
        anchor-name: contactsmobile;  
    }
    .exports {
        anchor-name: exports;  
    }
}

.menu {
    width: fit-content;
    height: fit-content;
    padding: 0.313rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.313rem 0.625rem rgba(0, 0, 0, 0.127);
    background-color:  rgba(4, 0, 34, 0.646);
    backdrop-filter: blur(0.625rem);
    border-width: 0;
    overflow: hidden;
    .button, button {
        width: 100%;
        max-inline-size: 100%;
        max-width: 100%;
        border-radius: 0.313rem;
        border: none;
        background-color: rgba(255, 255, 255, 0);
        padding: 0.313rem 0.625rem;
        cursor: pointer;
        color: rgb(211, 211, 211);
    }
    .button:hover, button:hover {
            background-color: rgba(255, 255, 255, 0.137);
            color: white;
        }
    
    }

#nav {
    position: fixed;
    position-anchor: nav;
    position-area: bottom span-right;
    min-width: max-content;
    margin: initial;
    transform: translate(-2.188rem, 0.625rem);
}

#downloads {
    position: fixed;
    position-anchor: downloads;
    position-area: bottom span-right;
    min-width: max-content;
    margin: initial;
    transform: translate(-1.875rem, 0.625rem);
}

#contacts {
    position: fixed;
    position-anchor: contacts; 
    position-area: bottom span-left;
    min-width: max-content;
    transform: translate(0.4rem, 0.625rem);
}

#contactsmobile {
    position: fixed;
    position-anchor: contactsmobile; 
    top: anchor(top);
    left: anchor(right);
    min-width: max-content;
    margin: initial;
    transform: translate(0.625rem, 0);
}

#exports {
    position: fixed;
    position-anchor: exports; 
    top: anchor(top);
    left: anchor(right);
    min-width: max-content;
    margin: initial;
    transform: translate(0.625rem, 0);
}

.banner {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-image: url(Images/placeholder.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    display: flex;
    align-items: end;
    padding: auto;
    > div {
        padding: 4vw;
        max-width: max(46.875rem, 50vw);
        width: 100vw;
        height: fit-content;
        color: white;
        flex-direction: column;
        gap: 0;
        h2 {
            font-size: clamp(3rem, 10vw, 5rem);
        }
        .button {
            background-color: white;
            color: rgb(33, 33, 33);
            img {
                color: black;
                filter: invert(70%);
            }
        }
        .button:first-child {
            background-color: rgba(0, 0, 0, 0);
            border: white solid;
            color: white;
        }
        .button:hover {
            background-color: rgb(232, 232, 232);
            color: black;
        }
        div {
            display: flex;
            gap: 1rem;
        }
    }
}

.project {
    background-color: rgb(69, 69, 77);
    margin-top: calc(4vw + 3rem);
    overflow-x: hidden;
    main > div {
        margin: auto;
        align-items: center;
        display: flex;
        flex-direction: column;
        img {
            object-fit: cover;
            width: 100%;
            height: fit-content;
            max-width: 150vh;
        }
    }
}

.copy:hover img {
    content: url(Icons/copy.svg);
}

.copy:active img {
    content: url(Icons/copied.svg);
}

.download:hover img {
    content: url(Icons/download.svg);
}

.download:active img {
    content: url(Icons/downloaded.svg);
}

.external:hover img {
    content: url(Icons/external.svg);
}

@media (max-width: 850px) {
    .hideOnTablet {
        display: none;
    }
    .showOnTablet {
        display: inline;
    }
    #contactsmobile {
        position-area: bottom span-left;
        transform: translate(0.313rem, 0.625rem);
        position: fixed;
        top: anchor(bottom);
        right: anchor(right);
        margin: initial;
    }
    img.right {
        content: url(Icons/down.svg);
        height: 1.5rem;
        width: 1.5rem;
    }
    .copy img {
        content: url(Icons/copy.svg);
    }
    .download img {
        content: url(Icons/download.svg);
    }
    .external img {
        content: url(Icons/external.svg);
    }
    .banner {
        height: 90vh;
}

@media (max-width: 500px) {
    .hideOnMobile {
        display: none;
    }
    }
    .showOnMobile {
        display: inline;
    }
    .project {
        overflow-y: hidden;
        height: 100dvh;
        margin: calc(4vw + 1rem) 0 4vw 0;
        main {
            height: 100%;
            margin: 0 0 5rem 0;
            > div {
                height: 100%;
                flex-direction: row;
                overflow-x: scroll;
                img {
                    width: 100vh;
                    height: min-content;
                    max-height: 80%;
                }
                :first-child {
                    margin-left: 4vw;
                }
                :last-child {
                    margin-right: 4vw;
                }
            }
        }
    }
}